@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

html{
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
}

body{
    display: grid;
    place-content: center;
    gap: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    min-height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

